.icon-color
{
  
    
}

.sub-icon
{
    margin-right: 5px;
}

.list-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }

  .users-list
  {
      padding: 30px;
  }

  .dot
  {
      font-size: 1rem;
      color: rgba(0,0,0,0.4);
  }

  .bg-yellow
  {
      margin-right: 5px;
      color: white;
      background-color: #ffc107;
      border-radius: 5px;
      padding: 3px;

  }

  .bg-red
  {
      margin-right: 5px;
      color: white;
      background-color: #dc3545;
      border-radius: 5px;
      padding: 3px;

  }
  .bg-green
  {
      margin-right: 5px;
      color: white;
      background-color:#28a745;
      border-radius: 5px;
      padding: 3px;

  }
  .bg-blue
  {
      margin-right: 5px;
      color: white;
      background-color: #17a2b8;
      border-radius: 5px;
      padding: 3px;

  }
  .form-header
  {
      background-color: #28a745;
      height: 50px;
  }

  .digit
  {
      padding-left: 40px;
  }